<!doctype html>
<html lang="en" ng-app="hex">
<head>
    <meta charset="UTF-8">
    <title>Hex editor demo</title>

    <link rel="stylesheet" href="css/styles.css" />
</head>
<body ng-controller="main">

    <div class="header">
        <file></file>
        <span>Position: <b>0x{{toHex(current || 0, 8)}} ({{current || 0}})</b></span>
    </div>

    <div class="container" ng-show="items.length > 0">
        <div class="view view-offset">
            <b ng-repeat="pos in positions">{{pos}}</b>
        </div>
        <div class="view view-hex">
            <span ng-repeat="item in items" ng-class="{current: current == $index + offset}" ng-click="setCurrent($index + offset)">{{toHex(item, 2)}}</span>
        </div>
        <div class="view view-char">
            <span ng-repeat="item in items" ng-class="{current: current == $index + offset}" ng-click="setCurrent($index + offset)">{{toChar(item)}}</span>
        </div>
    </div>

    <div class="tmp" />

    <script src="lib/jdataview.js"></script>
    <script src="lib/jbinary.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>